// 颜色
$accentColor = #409EFF                  // 主题色，与 Element UI 默认主题色一致
$textColor = #2c3e50                    // 文本颜色
$borderColor = #eaecef                  // 边框颜色
$codeBgColor = #282c34                  // 代码块背景色
$arrowBgColor = #ccc                    // 箭头背景色
$badgeTipColor = #42b983                // 提示徽标背景色
$badgeWarningColor = #e7c000            // 警告徽标背景色
$badgeErrorColor = #DA5961              // 错误徽标背景色

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式断点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
