// 颜色
$accentColor = #409EFF                  // 主题色，与 Element UI 默认主题色一致
$codeBgColor = #fafafa
$textColor = #333
// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式断点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
@import '~prismjs/themes/prism.css'