@import '../theme/var.scss';

// Prompts 组件样式
.el-x-prompts {
  // 基础样式
  &, & * {
    box-sizing: border-box;
  }
  
  max-width: 100%;
  
  // RTL 支持
  &.el-x-prompts-rtl {
    direction: rtl;
  }
  
  // 标题样式
  .el-x-prompts-title {
    font-weight: normal;
    font-size: $--el-x-font-size-medium;
    color: $--color-text-secondary;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  // 列表样式
  .el-x-prompts-list {
    display: flex;
    gap:  $--el-x-padding-sm;
    overflow-x: auto;
    // 隐藏滚动条
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: stretch;
    
    // 换行
    &-wrap {
      flex-wrap: wrap;
    }
    
    // 垂直排列
    &-vertical {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  // 项目样式
  .el-x-prompts-item {
    flex: none;
    display: flex;
    gap: 4px;
    height: auto;
    padding: $--el-x-padding-md $--el-x-padding-lg;
    align-items: flex-start;
    justify-content: flex-start;
    background: $--color-white;
    border-radius: $--el-x-border-radius-md;
    transition: border $--all-transition, background $--all-transition;
    border: $--border-width-base $--border-style-base $--border-color-lighter;
    
    &:not(.el-x-prompts-item-has-nest) {
      &:hover {
        cursor: pointer;
        background: $--background-color-base;
      }
      
      &:active {
        background: $--color-primary-light-9;
      }
    }
    
    // 内容样式
    .el-x-prompts-content {
      flex: auto;
      min-width: 0;
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
    }
    
    // 图标、标签和描述共同样式
    .el-x-prompts-icon,
    .el-x-prompts-label,
    .el-x-prompts-desc {
      margin: 0;
      padding: 0;
      font-size: $--el-x-font-size-base;
      line-height: $--el-x-font-line-height-primary;
      text-align: start;
      white-space: normal;
    }
    
    // 标签样式
    .el-x-prompts-label {
      color: $--color-text-primary;
      font-weight: 500;
    }
    
    // 描述样式
    .el-x-prompts-label + .el-x-prompts-desc {
      color: $--color-text-secondary;
    }
    
    // 禁用状态
    &.el-x-prompts-item-disabled {
      pointer-events: none;
      background: $--background-color-base;
      
      .el-x-prompts-label,
      .el-x-prompts-desc {
        color: $--color-text-secondary;
      }
    }
  }
  
  // 嵌套样式
  .el-x-prompts-item-has-nest {
    > .el-x-prompts-content {
      > .el-x-prompts-label {
        font-size: $--font-size-large;
        line-height: $--font-line-height-primary;
      }
    }
  }
  
  // 嵌套组件样式
  &.el-x-prompts-nested {
    margin-top: 5px;
    align-self: stretch;
    
    .el-x-prompts-list {
      align-items: stretch;
    }
    
    .el-x-prompts-item {
      border: 0;
      background: $--background-color-base;
    }
  }
}
