name: Deploy Element UI X

on:
  push:
    branches: [master]
    paths:
      - 'docs/**'
      - 'examples/**'
  workflow_dispatch:
    inputs:
      deploy_target:
        description: '部署目标'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - docs
          - examples

jobs:
  deploy-docs:
    name: 部署文档站
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.deploy_target == 'all' || github.event.inputs.deploy_target == 'docs' }}
    runs-on: ubuntu-latest
    env:
      VUEPRESS_GA_ID: ${{ secrets.VUEPRESS_GA_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # 获取完整的 Git 历史记录

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        working-directory: docs
        run: |
          npm install

      - name: Build documentation
        working-directory: docs
        run: npm run build

      - name: Deploy to Vercel
        id: deploy-docs
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID_DOCS }}
          working-directory: ./docs
          vercel-args: '--prod'

  deploy-examples:
    name: 部署示例项目
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.deploy_target == 'all' || github.event.inputs.deploy_target == 'examples' }}
    runs-on: ubuntu-latest
    env:
      VUEPRESS_GA_ID: ${{ secrets.VUEPRESS_GA_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # 获取完整的 Git 历史记录

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        working-directory: examples
        run: |
          npm install

      - name: Build
        working-directory: examples
        run: npm run build

      - name: Deploy to Vercel
        id: deploy-examples
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID_EXAMPLES }}
          working-directory: ./examples
          vercel-args: '--prod'
